<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>404 page not found</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">

  <main id="main">
    <section>
      <div class="container-fluid" style="padding-bottom: 21%; display: flex; align-items: center; justify-content: center;">
        <div class="container" data-aos="fade-up">
          <div class="justify-content-center text-center">
            <h2 class="text-danger mb-5">--Error: 404 Page Not Found--</h2>
            <a class="btn btn-primary" href="/">Kembali ke home</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>