<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Add Resep</title>

    <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">

    <main id="main">
        <section>
            <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
                <div class="container" data-aos="fade-up">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7">
                            <div class="new_card p-3 py-5">
                                <div class="d-flex justify-content-center mb-4">
                                    <h4 class="text-center">Add Resep</h4>
                                </div>
                                <form th:action="@{/resep/add-resep}" th:object="${resep}" method="POST">
                                    <div class="row mt-4 d-flex justify-content-center">
                                        <table class="table">
                                            <thead>
                                            <div class="col-md-4 justify-content-center text-center">
                                                <br>
                                                <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                                            </div>
                                            </thead>

                                            <tbody>
                                            <tr th:each="jml, iterationStatus: *{listJumlah}">
                                                <td>
                                                    <label> Nama Obat </label>
                                                    <select class="form-control form-control-lg mb-2" name="namaObat" th:field="*{listJumlah[__${iterationStatus.index}__].obat}">
                                                        <div th:each="obat, iterationStatus2: ${listObatExisting}">
                                                            <option th:value="${obat.idObat}" th:text="${obat.namaObat}"></option>
                                                        </div>
                                                    </select>
                                                </td>

                                                <td>
                                                    <label> Kuantitas </label>
                                                    <input class="form-control form-control-lg" type="number" name="kuantitas" th:field="*{listJumlah[__${iterationStatus.index}__].kuantitas}"/>
                                                </td>

                                                <td>
                                                    <div class="mt-4">
                                                        <button th:value="${iterationStatus.index}" class="btn btn-danger " type="submit"
                                                                name="deleteRow">Hapus</button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>


                                    <div class="mt-5 text-center">
                                        <button class="btn btn-primary" type="submit" value="Simpan">Submit</button>
                                    </div>
                                </form>
                                <div class="mt-4 text-center">
                                    <a class="btn btn-danger" href="/">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>

