<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Update Stok Obat</title>

  <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">

  <main id="main">
    <section>
      <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
        <div class="container" data-aos="fade-up">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7">
              <div class="new_card p-3 py-5">
                <div class="d-flex justify-content-center mb-4">
                  <h4 class="text-center">Update Stok Obat</h4>
                </div>
                <form th:action="@{/obat/update-stok}" th:object="${obat}" method="POST">
                  <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-md-5">
                      <label class="labels">ID Obat</label>
                      <input style="background-color: #adb5bd" readonly class="form-control" type="text" name="idObat" th:value="*{idObat}"/>
                    </div>
                    <div class="col-md-5">
                      <label class="labels">Nama Obat</label>
                      <input style="background-color: #adb5bd" readonly class="form-control" type="text" name="namaObat" th:value="*{namaObat}"/>
                    </div>
                  </div>

                  <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-md-5">
                      <label class="labels">Stok Obat</label>
                      <input required class="form-control" type="text" name="stok" th:value="*{stok}"/>
                    </div>
                    <div class="col-md-5">
                      <label class="labels">Harga Obat</label>
                      <input style="background-color: #adb5bd " readonly class="form-control" type="text" name="harga" th:value="*{harga}"/>
                    </div>
                  </div>

                  <div class="mt-5 text-center">
                    <button class="btn btn-primary" type="submit" value="Simpan">Simpan</button>
                  </div>
                </form>
                <div class="mt-4 text-center">
                  <a class="btn btn-danger" href="/obat/viewAll">Kembali</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>