<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail Appointment</title>

  <object th:include="fragments/fragment :: fonts" th:remove="tag"></object>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>
<header th:replace="fragments/fragment :: header"></header>
<section id="breadcrumbs" class="breadcrumbs">

  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row d-flex justify-content-center">
          <h2 class="text-center">Detail Appointment</h2>
        </div>
        <br />
        <div class="container-fluid" style="padding-bottom: 19%; display: flex; align-items: center; justify-content: center;">
          <div class="container">
              <div class="row d-flex justify-content-center">
                <br>
                <p th:text="'ID: ' + ${resep.id}"></p>
                <p th:text="'Dokter: ' + ${resep.appointment.dokter.nama}"></p>
                <p th:text="'Pasien: ' + ${resep.appointment.pasien.nama}"></p>
                <p th:text="'Apoteker: ' + ${resep.apoteker.nama}"></p>
                <br>
                <div th:if="${appointment.isDone == False}">
                  <a class="btn btn-primary" th:href="@{/appointment/} + ${appointment.kode}">Create Resep</a>
                  <a class="btn btn-primary" th:href="@{/appointment/updateStatus/} + ${appointment.kode}">Selesai</a>
                </div>
              </div>
          </div>
          <div class="container">
            <div th:if="${listPasien.size() != 0}">
              <div class="row d-flex justify-content-center">
                <table class="content-table">
                  <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Obat</th>
                    <th scope="col">Jumlah Dibutuhkan</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Harga</th>
                  </tr>
                  </thead>
                  <tbody th:each= "jumlah, iterationStatus : ${resep.listJumlah}">
                  <tr>
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${jumlah.obat.namaObat}"></td>
                    <td th:text="${jumlah.kuantitas}"></td>
                    <td th:text="${jumlah.obat.stok}"></td>
                    <td th:text="${jumlah.obat.harga}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <form th:action="@{/detail-resep/} + ${resep.id}" th:object="${resep}" method="POST">
                <div class="mt-5 text-center">
                    <button class="btn btn-primary" type="submit" value="Simpan">Konfirmasi</button>
                </div>
            </form>
            
        </div>
      </div>
    </section>
  </main>
</section>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</body>
</html>
